.btn-details-chart {
    background-color: #212529 !important;
    color: white !important;
    border-radius: 0;
    padding: 5px 10px !important;
    border: 3px solid #212529;
}

.btn-details-chart:hover {
    background-color: transparent !important;
    color: #212529 !important;
    border: 3px solid #212529;
}