.btn-bg-gradient {
    background: rgb(100, 92, 187) !important;
    background: linear-gradient(90deg, rgba(100, 92, 187, 1) 0%, rgba(235, 199, 230, 1) 100%) !important;
    border: none;
    color: white;
    font-size: 25px;
    padding: 10px 50px;
}

.profile-img{
    border: none;
    border-radius: 50%;
    width: 80px;
}

.active-link{
    border-bottom: 3px solid black !important;
}