.img-border-custom {
    border: 5px solid white;
    transition: .5s;
}

.text-shadow {
    text-shadow: 1px 1px black;
    transition: .5s;
}

.text-shadow:hover {
    text-shadow: 4px 1px rgba(0, 0, 0, 0.619);
}

.text-shadow-two {
    text-shadow: 1px 1px rgba(255, 255, 255, 0.503);
    transition: .5s;
}

.text-shadow-two:hover {
    text-shadow: 3px 1px rgb(255, 255, 255);
}