.bg-home-2 {
    background: rgb(160, 132, 220);
    background: linear-gradient(180deg, rgba(160, 132, 220, 0.6055672268907564) 6%, rgba(100, 92, 187, 1) 100%);
}

.bg-footer{
    background-color: #2b2b2bd8;
    color: white;
    padding: 50px 0 10px 0;
}