@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap');


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-zero: #2b2b2bd8;
  --color-one: #645CBB;
  --color-two: #A084DC;
  --color-three: #BFACE2;
  --color-four: #ebc7e6;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

body {
  font-family: 'Fredoka', sans-serif !important;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

.text-round {
  font-family: 'Lato', sans-serif !important;
}

.text-zero {
  color: var(--color-zero) !important;
}

.text-one {
  color: var(--color-one) !important;
}

.text-two {
  color: var(--color-two) !important;
}

.text-three {
  color: var(--color-three) !important;
}

.text-four {
  color: var(--color-four) !important;
}

/* .bg-gradient {
  background: rgb(100, 92, 187) !important;
  background: linear-gradient(90deg, rgba(100, 92, 187, 1) 0%, rgba(235, 199, 230, 1) 100%) !important;
} */

.bg-footer {
  background-color: #2b2b2bd8;
  color: white;
  padding: 50px 0 10px 0;
}