.swiper {
    max-width: 100vw;
    min-height: 80vh;
}

.btn-explore {
    background: rgb(100, 92, 187) !important;
    background: linear-gradient(90deg, rgba(100, 92, 187, 1) 0%, rgba(235, 199, 230, 1) 100%) !important;
    border: none;
    padding: 10px 50px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.745);
}

@media only screen and (max-width: 500px) {
    .text-responsive {
        font-size: 10px !important;
    }

    .text-responsive-2 {
        font-size: 18px !important;
        margin-bottom: 10px;
    }

    .btn-explore {
        padding: 10px 40px;
    }
}