.swiper {
    max-width: 100vw;
    min-height: 80vh;
}

.btn-explore {
    background: rgb(100, 92, 187) !important;
    background: linear-gradient(90deg, rgba(100, 92, 187, 1) 0%, rgba(235, 199, 230, 1) 100%) !important;
    border: none;
    padding: 10px 50px;
}