.swiper {
    max-width: 100vw;
    min-height: 80vh;
}

.bg-img-slide{
    background-image: url("https://i.ibb.co/HTh6ZFK/toy-sample.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}