.card-toy {
    border: 3px solid gray;
}

.btn-details {
    outline: none;
    background-color: #2b2b2bd8;
    border: 3px solid #2b2b2b92;
    color: white;
    width: 200px ;
    margin-top: 10px;
}

.btn-details:hover {
    outline: none;
    background-color: white;
    border: 3px solid #2b2b2be3;
    color: #2b2b2bf6;
    margin-top: 10px;
}

@media only screen and (max-width: 770px) {
    .card-toy {
        padding: 30px 10px !important;
    }
}